{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">{{ label.id ? 'Edit Label' : 'Add Label' }}</h3>
		</div>

		<div class="card-body">
			<div class="form-wrapper">
				{{ form_widget(form) }}
			</div>
		</div>

		<div class="card-footer d-flex justify-content-between">
			<a href="{{ path('product_label_admin') }}" class="btn btn-outline-secondary">
				{{ 'Cancel'|trans({}, 'Admin.Actions') }}
			</a>

			<button class="btn btn-primary">
				{{ 'Save'|trans({}, 'Admin.Actions') }}
			</button>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

